@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

:root {
    --primary-color: #2563EB;
}

.container {
    padding: 0rem 1rem;
}

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
}

.link {
    text-decoration: none;
    padding: 0rem 1rem;
}

.navigation .nav-brand-name {
    font-weight: bold;
    color: white;
    font-size: 1.2rem;
}

.navigation {
    background-color: var(--primary-color);
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: white;
}

.navigation .link-active {
    font-weight: bold;
}