@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

:root {
    --primary-color: #2563EB;
    --gray: #6B7280;
    --off-white: #F3F4F6;
}

.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.primary-link {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.secondary-link {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

.navigation .nav-brand-name {
    font-weight: bold;
    color: white;
    font-size: 1rem;
}

.navigation {
    background-color: var(--primary-color);
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: white;
}

.navigation .link-active {
    font-weight: bold;
    color: gold;
}

.hero {
    padding: 2.7rem;
}

.hero .hero-img {
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    text-align: center;
    padding-top: 1rem;
    color: var(--gray);
}

.hero .hero-inverted {
    color: var(--primary-color);
}

.section {
    padding: 3.5rem;
}

.section h1 {
    text-align: center;
}

.ow {
    background-color: var(--off-white);
}

.footer {
    padding: 3rem;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    border-top-right-radius: 1rem;
}

.footer-heading {
    font-weight: bold;
}

.footer ul {
    padding-inline-start: 0px;
}

.footer .link {
    color: white;
}

.space {
    padding: 2rem 3rem;
}